<div class="container">
    <h3>Editar perfil</h3>
    <form [formGroup]="form" (submit)="onSubmit()">
    <div>
        <label for="interests" class="form-label">Intereses: </label>
        <input type="text" id="interests" class="interests" formControlName="interests" />
    </div>
  
    <div>
        <label for="weekly_goals" class="weekly_goals">Objetivos semanales: </label>
        <input type="text" id="weekly_goals" class="form-control" formControlName="weeklyGoals" />
    </div>

    <div>
        <label for="availability" class="availability">Disponibilidad semanal: </label>
        <input type="text" id="availability" class="form-control" formControlName="weeklyAvailability" />
    </div>
  
    <div class="button-container">
        <button type="submit">Guardar cambios</button>
    </div>
    <div class="button-container">
        <button (click)="goBack()">[X] Volver</button>
    </div>
    </form>
</div>
