.contenedorPrincipal {
    background-color: #f8f9fa;
    padding: 4rem 1rem;
    text-align: center;
}
  .contenedorPrincipal img {
    max-width: 100%;
    height: auto;
  }


  



/* VERSIÓN ESCRITORIO */

@media screen and (min-width: 768px) {
    /* Cabecera de la web */
}