.backgroundSplit {
  
  background-size: cover;
  background-position: right center;
  
}

.content-overlay {
  background: rgba(255, 255, 255, 0.1);
  padding-bottom: 5%;
  padding-top: 5%;
}



/* VERSIÓN MÓVIL */
@media (max-width: 768px) {
  .content-overlay {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
  }
}




