<header>
    <div id="inicio"> 
    </div>
    <div class="contenedor-azul">
        <i class="logo" href="/images/pngtree-bee-vector-icon-illustration-design-concept-logo-nature-beeswax-vector-png-image_12533879.png"></i>
        <h1>BeetheBest</h1>
        <a target="_blank" href="http://localhost:4200/home">
            <div class="cabecera">
                <i class="fa-solid fa-circle-user" style="color: yellow;"></i>
                <p>Usuario</p>
            </div>
        </a>
    </div>
</header>



<h1>Productividad sin límites</h1>
<h2> ¡Empieza hoy! </h2>
<a [routerLink]="['/register']">Regístrate</a>
<a [routerLink]="['/login']">Inicia Sesión</a>

